.chatindex-list-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #F7F9F6;
  margin-right: 5%;
  margin-left: 5%;
  border: 2px solid white;
  border-radius: 20px;
}


.name-and-date-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
}


.chatindex-otherperson-name {
  padding: 5%;
}

.chatindex-date-and-time {
  padding: 5%;
}

.below-message-spacer {
  margin-bottom: 20%;
}


// .chatrooms-header {
//   color: #084C47;
//   width: 100%;

//   .contacts-searchbar {
//   display: flex;
//   width: 100%;
//   justify-content: space-between;
//   background-color: white;
//   }
// }



.message-search-btn {
  background-color: white;
  border: 2px solid $light-green;
  color: $light-green;
  border-radius: 15%;
  font-weight: bold;
}

.messages-searchbar {
  display: flex;
  justify-content: space-between;
  width: 88%;
  margin: 0 auto;
}

.message-create {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
  padding-right: 5%;
}

.message-create i {
  font-size: 2em;
  color: $dark-green;
}
