.chatindex-list-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #F7F9F6;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid $light-green;
  border-radius: 20px;
  height: 20%;
  margin-bottom: 2%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.msg-preview {
  overflow: hidden;
}

.name-and-date-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
}


.chatindex-otherperson-name {
  padding: 5%;
  width: 90%;
  h6 {
    color: $dark-green;
  }
}

.chatindex-date-and-time {
  padding: 5%;
}

.below-message-spacer {
  margin-bottom: 20%;
}

.chats-scrollbox {
  overflow: scroll;
  margin: 0 16px;
}

.chatrooms-header {
  width: 100%;
  position: relative;
  i {
    font-size: 1.8em;
    color: $dark-green;
  }
}



.send-btn-float {
  display: flex;
  position: absolute;
  bottom: -150%;
  right: 5%;
  border: 2px solid $dark-green;
  align-items: center;
  height: 100%;
  z-index: 10;
  border-radius: 8px;
  padding: 20px;
  background-color: white;
  .new-msg-btn {
  background-color: $light-green;

  padding: 20%;
  border-radius: 50%;
  border: 2px solid $dark-green;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
  p {
    padding-top: 20%;
    padding-right: 10%;
    font-weight: bold;
    color: $dark-green;
  }
}

//   .contacts-searchbar {
//   display: flex;
//   width: 100%;
//   justify-content: space-between;
//   background-color: white;
//   }
// }



.message-search-btn {
  position: relative;
  background-color: white;
  border: 2px solid $light-green;
  color: $light-green;
  border-radius: 8px;
  font-weight: bold;
  padding: 3px;
  z-index: 1;
  height: 50%;
  right: -3px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.messages-searchbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 0 auto;
  border-radius: 8px;
  z-index: 0;

  .form-control {
    border: 2px solid $light-green;
    border-radius: 8px;
    height: 100%;
    background-color: white;
    font-style: italic;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

}

.message-create {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 5%;
  padding-right: 5%;
  width: 100%;
  height: 10%;
  h3 {
    color: $dark-green;
    font-size: 1.5em;
  }
}

.message-create i {
  font-size: 1.5em;
  color: $dark-green;
  border: 1px solid $dark-green;
  border-radius: 5px;
  padding: 3px;
  background-color: $light-green;
  }

  .message-create p{
    color: gray;
    font-style: italic;
    text-align: center;
  }



.chatroom-search-bar-flex-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 24px;
  border: 1px solid $light-green;
  border-radius: 80px;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0,0,0,0.08);
  padding: 8px 24px;
  p {
    margin: 0;
    margin-left: 16px;
    color: #666;
  }
}

.chat-with-other-user-flex-container {
  display: flex;
  border-bottom: 1px solid #ebebeb;
  padding: 12px 0;
}

.name-message-and-date-flex-container {
  display: flex;
  align-items: flex-start;
}

.chatindex-date-and-time {
  font-size: 14px;
  color: #888;
  margin-bottom: 2px;
}

.chatindex-otherperson-name h6 {
  color: #222;
  font-size: 18px;
  margin-bottom: 8px;
}

.chatindex-otherperson-name p {
  color: #666;
  font-size: 15px;
  line-height: 1.2em;
  margin-bottom: 0;
}

.header-avatar img {
  margin-top: 8px;
  height: 50px;
  width: 50px;
  margin-right: 0;
  border: 4px solid $light-green;
  padding: 0;
}

.plant-fam-chat-header {
  font-size: 24px;
  color: #222;
}