// .body {
//   margin: 0;
//   padding: 0;
//   height: 100%;
// }

// .viewport-height {
//   height: 100%;
// }

// .header-name p {
//   margin: 0;
//   white-space: nowrap;
//   font-size: 16px;
// }

// .profile-icon-heder {
//   width: 5vh;
// }

// .header-avatar img {
//   width: 40px;
//   height: 40px;
//   border-radius: 50%;
//   margin-right: 12px;
// }

// .chat-header {
//   display: flex;
//   width: 100%;
//   align-items: center;
//   justify-content: flex-start;
//   padding: 2%;
//   background: white;
//   height: 7%;
//   margin: 0 auto;
//   border-bottom: 2px solid $light-gray;
//   padding: 32px 0;
// }

// .chat-header i {
//   font-size: 1.4em;
//   color: $sea-green;
//   padding: 4px;
// }

// .flexy-form {
//   display: flex;
//   width: 90%;
//   height: 40px;
//   margin-bottom: 33%;
//   margin-left: auto;
//   margin-right: auto;
//   justify-content: space-between;
//   .form-control {
//     border: 2px solid $light-green;
//     position: absolute;
//     width: 75%;
//     border-radius: 8px;
//     box-shadow: 0 2px 4px rgba(0,0,0,0.24), 0 2px 4px rgba(0,0,0,0.32);
//   }
// }

// .textarea.form-control {
//   height: 40px !important;
// }


// .airplane-button {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: $sea-green;
//   height: 64px;
//   width: 64px;
//   border: 2px solid $sea-green;
//   border-radius: 80px;
//   flex-grow: 0;
//   box-shadow: 0 2px 4px rgba(0,0,0,0.24), 0 2px 4px rgba(0,0,0,0.32);
//   color: $light-green;
//   font-size: 18px;
// }

// .messages-scrollbox {
//   position: absolute;
//   margin-top: 64px;
//   overflow: scroll;
//   height: 70%;
//   width: 100%;
// }

// .header-user-profile-container {
//   display: flex;
//   align-items: center;
//   margin-left: 80px;
// }

// .message-container p {
//   margin-bottom: 0px;
//   line-height: 1.4rem;
//   color: #222;
// }

// .message-container small {
//   color: #999;
//   font-size: 12px;
// }

// .message-container {
//   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
//   padding: 8px;
//   border-radius: 8px;
//   opacity: 100%;
// }

// .sent-message-content-container {
//   margin-bottom: 4px;
//   margin-top: 4px;
// }

// .received-message {
//   background-color: #fff;
//   margin-left: 16px;
//   opacity: 1;
// }

// .sent-message {
//   background-color: #e6ffda;
//   opacity: 1;
// }


// ********** updated values to rem ******************
// .body {
//   margin: 0;
//   padding: 0;
//   height: 100%;
// }

.viewport-height {
  height: 100%;
}

.header-name p {
  margin: 0;
  white-space: nowrap;
  font-size: 1.6rem;
}

.profile-icon-heder {
  width: 5vh;
}

.header-avatar img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 1.2rem;
}

.chat-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding: 2%;
  background: white;
  height: 7%;
  margin: 0 auto;
  border-bottom: 2px solid $light-gray;
  padding: 3.2rem 0;
}

.chat-header i {
  font-size: 1.4em;
  color: $sea-green;
  padding: .4rem;
}

.flexy-form {
  display: flex;
  width: 90%;
  height: 4rem;
  margin-bottom: 33%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  .form-control {
    border: 2px solid $light-green;
    position: absolute;
    width: 75%;
    border-radius: .8rem;
    box-shadow: 0 2px .4rem rgba(0,0,0,0.24), 0 2px .4rem rgba(0,0,0,0.32);
  }
}

.textarea.form-control {
  height: 4rem !important;
}


.airplane-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $sea-green;
  height: 6.4rem;
  width: 6.4rem;
  border: 2px solid $sea-green;
  border-radius: 8rem;
  flex-grow: 0;
  box-shadow: 0 2px .4rem rgba(0,0,0,0.24), 0 2px .4rem rgba(0,0,0,0.32);
  color: $light-green;
  font-size: 1.8rem;
}

.messages-scrollbox {
  position: absolute;
  margin-top: 6.4rem;
  overflow: scroll;
  height: 70%;
  width: 100%;
}

.header-user-profile-container {
  display: flex;
  align-items: center;
  margin-left: 8rem;
}

.message-container p {
  // margin-bottom: 0px;
  line-height: 1.4rem;
  color: #222;
  font-size: 1.6rem;
}

.message-container small {
  color: #999;
  font-size: 1.2rem;
}

.message-container {
  box-shadow: 0 1px .3rem rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: .8rem;
  border-radius: .8rem;
  opacity: 100%;
}

.sent-message-content-container {
  margin-bottom: .4rem;
  margin-top: .4rem;
}

.received-message {
  background-color: #fff;
  margin-left: 1.6rem;
  opacity: 1;
}

.sent-message {
  background-color: #e6ffda;
  opacity: 1;
}
