.login-image {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
  margin-bottom: 2%;
  img {
    width: 10.3rem;
  }
}

.login-wrapper {
  height: 100vh;
  color: $dark-green;
  background-color: $light-green;
  h2 {
    font-weight: bold;
  }
}

.login-form {
  width: 70%;
  margin: 0 auto;

  .form-check-label {
    padding-left: 0.5rem;
  }

  ::placeholder {
    color: $dark-green;
    font-style: italic;
    font-weight: lighter;
  }
}

.devise-conditionals-login {
  margin-top: 10%;
  text-align: center;
  a {
    color: $dark-green;
    font-size: 1.4rem;
    text-decoration: underline;
  }
}
