// Specific CSS for your home-page

.profile-user-img {
  object-fit: cover;
}

.view-profile-link {
  color: $sea-green;
  font-weight: 600;
  font-size: 16px;
  border-bottom: 1px solid $sea-green;
}

.homepage-logo-plantfam {
  display: flex;
}

.homepage-logo {
  width: 15%;
  height: 100%;
}

.homepage-plantfam-text-size {
  margin-bottom: 0;
  margin-left: 10px;
  display: flex;
  align-items: flex-end;
}

