// Specific CSS for your home-page

.profile-user-img {
  object-fit: cover;
}

.view-profile-link {
  color: $sea-green;
  font-weight: 600;
  font-size: 16px;
  border-bottom: 1px solid $sea-green;
}