
.bookings-card-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  p{
    font-size: 1em;
    font-weight: bold;
    width: 80%;
  }

}

.floating-questionmark {
  position: absolute;
  top: 3px;
  right: 5px;
}

.spacer-top {
  height: 10%;
}

.incoming-outgoing-headline {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.incoming-outgoing-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.scroll-section {
  margin-top: 100px;
  height: 550px;
  overflow: scroll;
}
.bookings-horizontal-scroll {
  overflow: scroll;
  height: 160px;
  width: 100%;
}
.bookings-card-body {
    position: relative;
    min-height: 140px;
    min-width: 250px;
    max-height: 150px;
    margin-right: 5px;
    border-radius: 10px;
    p {
      margin: 0 auto;
    }
}

.outgoing {
  background-color: $light-green;
}

.incoming {
  background-color: white;
  border: 1px solid $light-green;
}

.card-msg-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  background-color: $sea-green;
  padding: 5px 10px 5px 10px;
  border-radius: 80px;
}

.pending-messag-btn {
  color: white;
  background-color: $sea-green;
  padding: 5px 10px 5px 10px;
  border-radius: 80px;
}
.booking-accept-btn {
  color: white;
  background-color: green;
  padding: 5px 10px 5px 10px;
  border-radius: 80px;
}

.booking-reject-btn {
  color: white;
  background-color: red;
  padding: 5px 10px 5px 10px;
  border-radius: 80px;
}

.avatar-tiny {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid white;
  img {
    height: 40px;
    width: 40px;
  }
}
