.post-card {
  border: 1px solid $dark-green;
  border-radius: 10px;
  margin: 5px 5px;
}

.post-card-info {
  display: flex;
}

.post-card-info-avatar {
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px 12px;
  }
}

.post-card-info-name-title {
  flex: 1;
}

.post-card-info-name {
  font-size: 16px;
  color: $dark-green;
  font-weight: bold;
}

.post-card-info-time {
  color: $time-grey;
  font-size: 12px;
  font-weight: normal;
}

.post-card-info-title {
  color: #03151D;
  font-weight: bold;
  font-size: 24px;
  margin-top: 10px;
}

.post-card-content {
  margin-bottom: 10px;
}

.post-content {
  margin-top: 10px;
  font-size: 13px;
  margin-left: 5px;
  margin-right: 5px;
}

.post-card-image {
  width: 100%;
  text-align: center;
  img {
    width: 350px;
    height: 345px;
    width: 100%;
  }
}

.post-social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-social-like {
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
