.post-card {
  border: 1px solid $dark-green;
  border-radius: 1rem;
  margin: .5rem .5rem;
}

.post-card-info {
  display: flex;
}

.post-card-info-avatar {
  img {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    margin: 1.5rem 1.2rem;
  }
}

.post-card-info-name-title {
  flex: 1;
}

.post-card-info-name {
  font-size: 2rem;
  color: $dark-green;
  font-weight: bold;
  margin-top: 1.5rem;
}

.post-card-info-time {
  color: $time-grey;
  font-size: 1.2rem;
  font-weight: normal;
  margin-left: 1rem;
}

.post-card-info-title {
  color: #03151D;
  font-weight: bold;
  font-size: 2.2rem;
  margin-top: 1rem;
}

.post-card-content {
  margin-bottom: 1rem;
}

.post-content {
  margin-top: 1rem;
  font-size: 1.6rem;
  margin-left: .5rem;
  margin-right: .5rem;
  padding: .5rem;
}

.post-card-image {
  width: 100%;
  text-align: center;
  img {
    width: 35rem;
    height: 34.5rem;
    width: 100%;
  }
}

.post-social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-social-like {
  margin-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
