body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  padding: 0;
  margin: 0 auto;
}

.banner {
  width: 100%;
  object-fit: cover;
  height: 246px;
  left: 0px;
  top: 0px;
}

.profile-avatar {
  position: absolute;
  height: 130px;
  width: 130px;
  left: 4%;
  top: 32%;
  bottom: 75%;
  border: 6px solid white;
  align-items: flex-end;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.container .name-experience-offers-rating {
  // overflow: hidden;
  margin-left: 40%;
  padding: 6px 10px 0 10px;
  // display: flex;
  // justify-content: flex-end;
  // position: absolute;
  position: relative;
}

.name-rating {
  // padding-left: 30%;
  // display: flex;
  // justify-content: flex-end;
  text-align: left;
  line-height: 22px;
  align-items: center;
}

.name {
  margin: 5px 0px 1px 0;
  font-weight: bold;
  font-size: 22px;
}

.rating-leaf {
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  justify-content: flex-start;
}

.green-leaf {
  color: $sea-green;
}

.grey-leaf {
  color: grey;
}

.experience {
  padding-top: 1px;
  margin-left: 43%;
  text-align: left;
  color: $sea-green;
  font-size: 16px;

  p {
    margin-bottom: 10px;
  }
}

.sitter-advisor {
  padding: 0;
  margin-left: 40%;
  padding: 0;
  text-align: left;
  height: 35px;
  display: flex;
  align-items: center;
}

.message-button-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.message-button-flex {
  i {
    font-size: 50px;
  }
}

.button-text {
  margin-bottom: 3px;
  text-align: center;
}

i {
  color: $sea-green;
}

.description-about-me {
  margin: 20px 10px;
  padding: 15px;
  background-color: $light-green;
  border: 1px solid $dark-green;
  border-radius: 0 40px 0 40px;
}

.services {
  font-size: 18px;
  border-top: 1px solid $dark-green;
  border-bottom: 1px solid $dark-green;

  p {
    margin: 0;
  }

  i {
  font-size: 30px;
  color: grey
  }
}
.service-sitter {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $dark-green;
  padding: 10px;
}

.service-advisor {
  margin: 0;
  display: flex;
  align-items: center;
  padding: 10px;
}

.service-advisor-icon {
    width: 75%;
}

.service-info-line {
  font-size: 16px;
  color: $sea-green;
  margin: 0;
}

.service-price-button {
    margin-left: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.profile-service-button-book {
  margin-top: 10px;
}

.review-container {
  margin-top: 20px;
}
.review {
  margin: 10px;
  align-items: center;
  background-color: $light-green;
  border: 1px solid $dark-green;
  border-radius: 40px 30px 0 40px;
  display: flex;

  .review-avatar {
    margin-left: 3px;
    margin-right: 5px;
    height: 70px;
    left: 2%;
    top: 40%;
  }

  .review-info {
    padding-top: 5px;
  }

  .review-date-time-rating {
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    align-items: center;
  }
}

.my-profile-about-me-edit-pencil {
  text-align: right;
  font-size: 18px;
}

.my-profile-posts-comments-boxes {
  line-height: 50px;
  display: flex;
  text-align: center;
  font-size: 18px;
  color: $dark-green;
  border-top: 1px solid $dark-green;
  border-bottom: 1px solid $dark-green;

  p {
    margin: 0;
    font-weight: bold;
  }

  .my-profile-posts {
    width: 50%;
    border-right: 1px solid $dark-green;
  }

  .my-profile-comments {
    width: 50%;
  }
}
.actions {
  margin: 20% auto;
  height: 50vh;
  width: 40vh;
  // display: flex;
  // justify-content: space-between;
  // flex-wrap: wrap;
}

  .my-profile-scroll-bottom-spacer {
    margin: 0 auto;
    height: 5%;
  }

