.container {
  margin: 0;
  padding: 0;
}

.banner {
  // width: 100%;
  // height: 220px;
  object-fit: cover;
  width: 378px;
  height: 246px;
  left: 0px;
  top: 0px;
}

.avatar-info-box {
  display: flex;
}

.profile-avatar {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 6%;
  right: 67%;
  top: 27%;
  bottom: 75%;
  border: 6px solid white;
  align-items: flex-end;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.profile-info .name-experience-offers-rating {
  overflow: hidden;
  padding: 16px;
  display: flex;
  // justify-content: space-between;
  // align-items: flex-end;
  // position: absolute;
}

.name-experience-offers-rating {
  display: flex;
}

.name-rating {
  display: flex;
  align-items: flex-end;
}

.experience {
  text-align: right;
}
.description-about-me {
  margin: 10px;
  padding: 10px;
  border: 3px solid $dark-green;
  border-radius: 0 30px 0 30px;
  
  // position: absolute;
}

.review {
  margin: 10px;
  padding: 10px;
  border: 3px solid $dark-green;
  border-radius: 0 30px 0 30px;
  
  // position: absolute;
}

i {
  color: $sea-green;
  // white-space: nowrap;
}

.actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}