// .container {
//   margin: 0;
//   padding: 0;
//   margin: 0 auto;
// }

// .banner {
//   width: 100%;
//   object-fit: cover;
//   height: 246px;
//   left: 0px;
//   top: 0px;
// }

// .profile-avatar {
//   position: absolute;
//   height: 130px;
//   width: 130px;
//   left: 4%;
//   top: 32%;
//   bottom: 75%;
//   border: 6px solid white;
//   align-items: flex-end;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   object-fit: cover;
// }

// .container .name-experience-offers-rating {
//   // overflow: hidden;
//   margin-left: 40%;
//   padding: 6px 10px 0 10px;
//   // display: flex;
//   // justify-content: flex-end;
//   // position: absolute;
//   position: relative;
// }

// .name-rating {

//   text-align: left;
//   line-height: 22px;
//   align-items: center;
// }

// .name {
//   margin: 5px 0px 1px 0;
//   font-weight: bold;
//   font-size: 22px;
// }

// .rating-leaf {
//   font-weight: normal;
//   font-size: 14px;
//   text-align: left;
//   justify-content: flex-start;
//   margin-bottom: 0;
//   margin-right: 4px;
// }

// .green-leaf {
//   color: $sea-green;
// }

// .grey-leaf {
//   color: grey;
// }

// .experience {
//   padding-top: 1px;
//   margin-left: 43%;
//   text-align: left;
//   color: $sea-green;
//   font-size: 16px;

//   p {
//     margin-bottom: 10px;
//   }
// }

// .sitter-advisor {
//   padding: 0;
//   margin-left: 40%;
//   padding: 0;
//   text-align: left;
//   height: 35px;
//   display: flex;
//   align-items: center;
// }

// .profile-chat-button {
//   margin-top: 1rem;
// }
// .button-text {
//   margin-left: .5rem;
//   font-size: 1.6rem;
// }

// .chat-bubble-icon {
//   color: white;
//   font-size: 1.6rem;
// }

// .description-about-me {
//   margin: 20px 10px;
//   padding: 15px;
//   background-color: $light-green;
//   border: 1px solid $dark-green;
//   border-radius: 0 40px 0 40px;
// }

// .services {
//   font-size: 18px;
//   // border-top: 1px solid $dark-green;
//   outline: 1px solid $dark-green;

//   p {
//     margin: 0;
//   }

//   i {
//   font-size: 30px;
//   color: grey;
//   }
// }

// .service-sitter {
//   display: flex;
//   align-items: center;
//   // border-bottom: 1px solid $dark-green;
//   padding: 15px;
//   outline: 1px solid $dark-green;
// }

// .service-advisor {
//   margin: 0;
//   display: flex;
//   align-items: center;
//   padding: 15px;
//   outline: 1px solid $dark-green;
// }

// .service-advisor-icon {
//   width: 75%;
// }

// .service-info-line {
//   font-size: 16px;
//   color: $sea-green;
//   margin: 0;
//   float: left;
// }

// .service-price-button {
//     margin-left: 15px;
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     text-align: center;
//     align-items: center;
// }

// .review-container {
//   margin-top: 20px;
// }
// .review {
//   margin: 10px;
//   align-items: center;
//   background-color: $light-green;
//   border: 1px solid $dark-green;
//   border-radius: 60px 30px 0 60px;
//   display: flex;
//   padding: 8px;
//   margin-bottom: 20px;

//   .review-avatar {
//     margin-left: 3px;
//     margin-right: 5px;
//     height: 70px;
//     left: 2%;
//     top: 40%;
//   }

//   .review-info {
//     padding-top: 5px;
//   }

//   .review-date-time-rating {
//     margin: 0;
//     display: flex;
//     justify-content: space-between;
//     font-size: 14px;
//     align-items: center;
//     font-style: italic;
//   }

//   .review-content {
//     -webkit-line-clamp: 2;
//     -webkit-box-orient: vertical;
//     display: -webkit-box;
//     overflow: hidden;
//     margin-bottom: 15px;
//   }
// }

// .my-profile-about-me-edit-pencil {
//   text-align: right;
//   font-size: 18px;

//   a {
//     text-decoration: none;
//     color: $dark-green;
//   }
// }

// .my-profile-posts-comments-boxes {
//   line-height: 50px;
//   display: flex;
//   text-align: center;
//   font-size: 18px;
//   color: $dark-green;
//   border-top: 1px solid $dark-green;
//   border-bottom: 1px solid $dark-green;

//   p {
//     margin: 0;
//     font-weight: bold;
//   }

//   .my-profile-posts {
//     width: 50%;
//     border-right: 1px solid $dark-green;
//   }

//   .my-profile-comments {
//     width: 50%;
//   }
// }
// .actions {
//   margin: 20% auto;
//   height: 50vh;
//   width: 40vh;
//   // display: flex;
//   // justify-content: space-between;
//   // flex-wrap: wrap;
// }

//   .my-profile-scroll-bottom-spacer {
//     margin: 0 auto;
//     height: 5%;
//   }


// ********* updated values to rem
.profile-container {
  margin-bottom: 2rem;
  position: relative;
}

.banner {
  width: 100%;
  object-fit: cover;
  height: 24.6rem;
  
  @media only screen and (min-width: $bp-small-medium) {
    height: 30rem;
  }

  @media only screen and (min-width: $bp-large) {
    height: 40rem;
  }
}

.profile-avatar {
  position: absolute;
  height: 13rem;
  width: 13rem;
  left: 3%;
  top: 63%;
  border: .6rem solid white;
  align-items: flex-end;
  box-shadow: 0 0 1.5rem rgba(0,0,0,0.2);
  object-fit: cover;

  @media only screen and (min-width: $bp-small-medium) {
    height: 17rem;
    width: 17rem;
    top: 65%;
  }

  @media only screen and (min-width: $bp-large) {
    height: 19rem;
    width: 19rem;
    top: 68%;
  }
}

// .profile-container 
.name-experience-offers-rating {
  // overflow: hidden;
  margin-left: 40%;
  padding: .6rem 1rem 0 1rem;


  
  @media only screen and (min-width: $bp-large){
    margin-left: 40%;
  }
}

.name-rating {

  text-align: left;
  line-height: 2.2rem;
  align-items: center;
}

.name {
  margin: .5rem 0px 1px 0;
  font-weight: bold;
  font-size: 2.2rem;

  @media only screen and (min-width: $bp-medium) {
    margin-left: -17%;
    font-size: 2.5rem;
    margin-top: 1.5rem;
  }
  
  @media only screen and (min-width: $bp-large) {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}

.rating-leaf {
  font-weight: normal;
  font-size: 1.4rem;
  text-align: left;
  justify-content: flex-start;
  margin-top: .6rem;
  margin-bottom: .5rem;
  margin-right: .4rem;

  @media only screen and (min-width: $bp-medium) {
    margin-left: -17%;
  }
}

.green-leaf {
  color: $sea-green;
}

.grey-leaf {
  color: grey;
}

.experience {
  padding-top: 1px;
  margin-left: 43%;
  text-align: left;
  color: $sea-green;
  font-size: 1.6rem;

  p {
    margin-bottom: 1rem;
  }

  @media only screen and (min-width: $bp-small-medium) {
    margin-left: 42%;
  }

  @media only screen and (min-width: $bp-medium) {
    margin-left: 32%;
  }

  @media only screen and (min-width: $bp-large){
    margin-left: 31%;
  }
}

.sitter-advisor {
  padding: 0;
  margin-left: 40%;
  padding: 0;
  text-align: left;
  height: 3.5rem;
  display: flex;
  align-items: center;

  @media only screen and (min-width: $bp-medium){
    margin-left: 30%;
  }
}

.profile-chat-button {
  // margin-top: 1rem;
}
.button-text {
  margin-left: .5rem;
  font-size: 1.6rem;
}

.chat-bubble-icon {
  color: white;
  font-size: 1.6rem;
}

.description-about-me {
  margin: 2rem 1rem;
  padding: 1.5rem;
  background-color: $light-green;
  border: 1px solid $dark-green;
  border-radius: 0 4rem 0 4rem;
  font-size: 1.6rem;
}

.services {
  font-size: 1.8rem;
  margin-top: 2rem;

  p {
    margin: 0;
  }

  i {
  font-size: 3rem;
  color: grey;
  }
}

.service-sitter {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  outline: 1px solid $dark-green;
  
}

.service-advisor {
  margin: 0;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  border: 1px solid $dark-green;
  // border-left: none;
  // border-right: none;
}

.service-advisor-icon {
  width: 75%;
}

.service-info-line {
  font-size: 1.6rem;
  color: $sea-green;
  margin: 0;
  float: left;
}

.service-price-button {
    margin-left: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.review-container {
  margin-top: 2rem;
  margin-bottom: 10rem;
  padding-bottom: 1rem;

  @media only screen and (min-width: $bp-medium) {
    display: flex;
    
  }
}
.review {
  margin: 1rem;
  align-items: center;
  background-color: $light-green;
  border: 1px solid $dark-green;
  border-radius: 6rem 3rem 0 6rem;
  display: flex;
  padding: .8rem;
  margin-bottom: 2rem;

  .review-avatar {
    margin-left: .3rem;
    margin-right: .5rem;
    height: 7rem;
    left: 2%;
    top: 40%;
  }

  .review-info {
    padding-top: .5rem;
  }

  .review-date-time-rating {
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    align-items: center;
    font-style: italic;
  }

  .review-content {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    margin-bottom: 1.5;
    font-size: 1.6rem;
  }

  @media only screen and (min-width: $bp-medium)  {
    max-width: 33.3%;
  }
}

.my-profile-about-me-edit-pencil {
  text-align: right;
  font-size: 1.8rem;

  a {
    text-decoration: none;
    color: $dark-green;
  }
}

.my-profile-posts-comments-boxes {
  line-height: 5rem;
  display: flex;
  text-align: center;
  font-size: 1.8rem;
  color: $dark-green;
  border-top: 1px solid $dark-green;
  border-bottom: 1px solid $dark-green;

  p {
    margin: 0;
    font-weight: bold;
  }
  
  .my-profile-posts {
    width: 50%;
    border-right: 1px solid $dark-green;
  }

  .my-profile-comments {
    width: 50%;
  }

  @media only screen and (min-width: $bp-small-medium) {
    margin-top: 5rem;
  }
}
.actions {
  margin: 20% auto;
  height: 50vh;
  width: 40vh;
  // display: flex;
  // justify-content: space-between;
  // flex-wrap: wrap;
}

  // .my-profile-scroll-bottom-spacer {
  //   margin: 0 auto;
  //   height: 5%;
  // }

