.profile-edit-scrollbox {
  position: absolute;
  margin-top: 0;
  margin-bottom: 20%;
  height: 90%;
  overflow: scroll;
}

.profile-edit-container {
  margin: 0 auto;
  width: 90%;

  .form-control {
    border-radius: 5px;
  }
}

.profile-edit-checkboxes {
  margin: 0px;
  margin-left: 20px;
}

.profile-experience-radio-buttons {
  margin: 0px;
  margin-left: 20px;
}

// .profile-edit-form-input-container {
//   margin-top: 4%;
//   margin-bottom: 4%;
//   margin: 0px 10px;
//   border-radius: 20px;

//   .input-width {
//     width: 80%;
//   }

//   .bg-message {
//     background-color: #EEF2ED;
//   }

//   .message-radius {
//     border-radius: 10px;
//   }
// }

.submit-button {
  background-color: $sea-green;
  color: white;
  border-radius: 20px;
  width: 100%;
  margin-top: 40px;
  padding: 12px 48px;
}