// .form-where {
//   margin-bottom: 22px;
//   margin-top: 40px;
  
// }
// .search-header {
//   color: $dark-green;
//   font-size: 24px;
//   font-weight: 500;
//   margin-bottom: 10%;
//   margin-left: 0;
// }

// .search-by-address {
//   margin-bottom: 16%;
// }

// // .datepicker {
// //   margin-top: 0;
// // }
// .search-by-date {
//   margin-bottom: 16%;
// }

// .form-label {
//   margin-bottom: 2%;
// }

// .search-form-message {
//   margin-top: 2%;
// }
// .search-form-container {
//   margin-top: 0;
//   display: flex;
//   justify-content: space-between;
  
// }

// #range_start {
//   width: 95%;
//   flex: start;
// }

// #range_end {
//   width: 100%;
//   flex: end;
// }

// .ap-input {
//   border-radius: 8px;
// }

// updated to rem values
.form-where {
  margin-bottom: 2.2rem;
  margin-top: 4rem;
  font-size: 1.6rem;
  
}
.search-header {
  color: $dark-green;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 10%;
  margin-left: 0;
}

.search-by-address {
  margin-bottom: 16%;
}

.search-by-date {
  margin-bottom: 16%;
}

.form-label {
  margin-bottom: 2%;
  font-size: 1.6rem;
}

.search-form-message {
  margin-top: 2%;
}
.search-form-container {
  margin-top: 0;
  width: 100%;
  display: flex;
  
  label {
    font-size: 1.6rem;
  }
}

.simple_form {
  width: 100%;
}

.form-control {
  font-size: 1.6rem;
}

.form-group {
  flex: 0 0 50%;
}

#range_start {
  // width: 95%;
  // flex: start;
}

#range_end {
  // width: 100%;
  // flex: end;
}

.ap-input {
  border-radius: .8rem;
  font-size: 1.6rem;
  width: 100%;
}

.ap-suggestion {
  font-size: 1.6rem;
}
