// body {
//   margin: 32px 16px;
// }
// .search-header-container {
//   display: flex;
//   justify-content: center;
// }
.form-where {
  margin-bottom: 22px;
  margin-top: 40px;
  
}
.search-header {
  color: $dark-green;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10%;
  margin-left: 0;
}

.search-by-address {
  margin-bottom: 16%;
}

// .datepicker {
//   margin-top: 0;
// }
.search-by-date {
  margin-bottom: 16%;
}

.form-label {
  margin-bottom: 2%;
}

.search-form-message {
  margin-top: 2%;
}
.search-form-container {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  
}

#range_start {
  width: 95%;
  flex: start;
}

#range_end {
  width: 100%;
  flex: end;
}

.ap-input {
  border-radius: 8px;
}