.margin-box {
  width: 80%;
  margin: 2% auto;
  background-color: white;
}

.contacts-searchbar {
  display: flex;
  width: 80%;
  justify-content: space-between;
  background-color: white;
  margin: 0 auto;
  }

.contacts-searchbar {

  .form-control {
  border-radius: 10px;
  width: 80%;
  border: 2px solid $light-green;
  margin-right: 15px;
  }
}

.contacts-with-avatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 9vh;
  background-color: white;
}

.contacts-avatar {
  width: 9vh;
  height: 100%;

}

.back-icon {
  color: $dark-green;
}

.contacts-avatar img {
  width: 80%;
  height: 80%;
  border-radius: 30%;
  display: block;
  margin: auto;
}

.contacts-name {
  width: 80%;
  margin-left: 5%;
  color: $dark-green;
}

.search-contacts-btn {
  background-color: white;
  border: 2px solid $light-green;
  border-radius: 20%;
  color: $dark-green;

}

.contact-results {
  overflow: scroll;
  margin: 111px auto;
  height: 600px;
  width: 95%;
}
