// body {
//   margin: 32px 16px;
// }

.search-header {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16%;
  text-align: center;
}

.search-by-address {
  margin-bottom: 16%;
}

.search-by-date {
  margin-bottom: 16%;
}

.form-label {
  margin-bottom: 8%;
}

.search-header-container {
  display: flex;
}
