<h1>Your booking requests</h1>

<ul>
  <% @bookings.each do |booking| %>
    <div class="my-3">
      <%= booking.client.email %> booked your service.
      <br>
      Service wanted <%= booking.service_type %>
      <br>
      From <%= booking.start_date.strftime("%b %d, %Y") %> until <%= booking.end_date.strftime("%b %d, %Y") %>
      <br>
    </div>
    <div class="mt-3">
      <button type="button" class="btn btn-success">Accept booking</button>
      <button type="button" class="btn btn-danger">Reject booking</button>
    </div>
  <% end %>
</ul>
