<h1>Posts#new</h1>


<%= simple_form_for([@post]) do |f| %>
  <%= f.input :title %>
  <%= f.input :content %>
  <div class="text-center">
    <%= f.submit class: "btn submit-button" %>
  </div>
<% end %>
