.hero-text {
  margin: 0px 20px 40px 20px;
  font-weight: bolder;
  text-align: center;
  color: #222;
  font-size: 24px;
}

.plant-enthusiasts-header {
  margin: 64px 0 40px 0;
  text-align: center;
}

.profile-card {
  padding: 24px;
  margin: 24px 0px;
  text-decoration: none;
  color: #222;
  background-color: #f5faf2;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: .3s;
  &:hover {
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transform: translateY(-2px);
  }
}

.profile-card h4 {
  font-size: 20px;
}

.profile-card-user-info {
  display: flex;
  justify-content: space-around;
}

.profile-card-services {
  display: flex;
  justify-content: start;
  align-items: center;
}

span.experience {
  color: $sea-green;
  margin: 0;
}

p.service-tag {
  padding: 4px 12px;
  background-color: #e4f3dd;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  margin-top: 4%;
}

p.service-tag.advisor {
  margin-left: 4%;
}

p.service-tag.plant-sitter {
  margin-right: 4%;
}



// horizontal scrolling menu for home

.scrolling-wrapper{
	overflow-x: auto;
}

.card-block{
	height: 160px;
  width: 240px;
  margin-right: 16px;
	border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important;
	border-radius: 20px;
}

.card-1{
  background-color: #f5faf2;
  text-align: center;
  padding: 16px;
  overflow: hidden;
  img {
    width: 100%;
  }
  &:hover{
		transform: translateY(-2px);
	}
}

.card-2{
  background-color: #f5faf2;
  text-align: center;
  padding: 16px;
  margin-left: 80%;
  overflow: hidden;
  img {
    width: 100%;
  }
  &:hover{
		transform: translateY(-2px);
	}
}

.card-3{
  background-color: #f5faf2;
  text-align: center;
  padding: 16px;
  margin-left: 160%;
  overflow: hidden;
  img {
    width: 100%;
  }
  &:hover{
		transform: translateY(-2px);
	}
}

