.btn-sea-green {
  color: white;
  font-weight: bold;
  background-color: $sea-green;
  border-radius: 80px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

.btn:hover {
  color: #fff;
}

.button-profile-message {
  margin: 0;
  display: block;
  width: 100%;
  text-align: center;
  color: white;
  background-color: $sea-green;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a:hover {
    color:  white;
    text-decoration: none;
}

.profile-button-small {
  color: white;
  background-color:$sea-green ;
  border-radius: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-button-large {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color:$sea-green ;
  border-radius: 80px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 3px;
  width: 320px;
  height: 43px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.search-sitter-button {
  border: none;
  margin-top: 16%;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.submit-button {
  display: flex;
  justify-content: center;
  background-color: $sea-green;
  color: white;
  border-radius: 80px;
  width: 100%;
  margin-top: 40px;
  // padding: 12px 48px;
  height: 45px;box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

