.received-message {
  background-color: $light-green;
  margin-right: 8%;
  margin-left: 2%;
  border-radius: 8px;
  width: 70%;
  opacity: 95%;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.sent-message {
  margin-left: 25%;

  background-color: white;
  border-radius: 8px;
  width: 70%;
  opacity: 95%;
  box-shadow: 5 7 10px rgba(0,0,0,0.4);
}


