.received-message {
  background-color: #D2E1C6;
  margin-right: 8%;
  margin-left: 2%;
  border-radius: 8px;
}

.sent-message {
  margin-left: 8%;
  margin-right: 2%;
  background-color: white;
  border-radius: 8px;
}


