.search-header-container {
  display: flex;
}

.search-form-container {
  display: flex;
}

.main-wrapper {
  margin: 3.2rem 1.6rem;
  margin-bottom: 10rem;
}

// .main-wrapper-flashes {
//   position: relative;
//   margin: 3.2rem 1.6rem;
//   margin-bottom: 10rem;
// }

// this belongs to profile index for use on homepage
.flex-container {
  display: flex;
  justify-content: center;
}

.available-header-text {
  text-align: left;
  color: $dark-green;
  margin-bottom: 3rem;
}
// .flex-container h4 {
//   text-align: left;
//   color: $dark-green;
//   // margin: 0 48px 16px 48px;
//   margin-bottom: 30px;
// }

.search-form-address-params {
  color: $sea-green;
  font-size: 1.6rem;
      margin-bottom: 3.5rem;
}

.form-input-container {
  margin-top: 8%;
  margin-bottom: 8%;
}

.booking-form-container h3 {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 16%;
  text-align: center;
}
