.new-message-header {
  display: flex;
  justify-content: flex-start;
  width: 90%;
  align-items: center;
  background-color: white;
  // color: $dark-green;
  margin-top: 5%;
  margin-bottom: 1%;
}


.back-icon {
  width: 10%;
  font-size: 2.5em;
  text-align: center;
  // color: $dark-green;
  i {
    color: $dark-green;
    margin-left: 40%;
  }
}


.new-msg-text-centered {
  width: 80%;
  text-align: center;
  color: $dark-green;
}


