.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.green-bord-dropdown {
  border: 1px solid $light-green;
  border-radius: 8px;
  a {
    color: $dark-green;
  }
}
