.tag-sitter {
  margin-left: 10px;
  color: white;
  background-color: $sea-green;
  border-radius: 80px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 3px;
}

.tag-advisor {
  margin-left: 10px;
  color: white;
  background-color:$dark-green ;
  border-radius: 80px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 3px;
}