.tag-sitter {
  margin-left: 10px;
  color: white;
  background-color: $sea-green;
  border-radius: 80px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
}

.tag-advisor {
  margin-left: 10px;
  color: white;
  background-color:$dark-green ;
  border-radius: 80px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
}

.tag-service {
  margin-left: 10px;
  width: 35%;
  text-align: center;
  color: $dark-green;
  background-color:$light-green;
  border-radius: 4px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 3px;
}