<h1>Availabilities#new</h1>

<%= simple_form_for([@profile, @availability]) do |f| %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true %>
    <%= f.submit "Set availability" %>
<% end %>
  
